## 2.6 Auswahl von Zeilen

### Aufgaben zum Filtern

In [12]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Age Range'].unique()

array(['0 to 9 years', '10 to 19 years', '35 to 44 years',
       '25 to 34 years', '65 to 74 years', '45 to 54 years',
       '20 to 24 years', '55 to 59 years', '60 to 64 years',
       '75 years and over', nan], dtype=object)

In [13]:
df['Patron Type Definition'].unique()

array(['Juvenile', 'Teen', 'Adult', 'Senior', 'Welcome',
       'Digital Access Card', 'Bibliocommons', 'Teacher Card',
       'Library By Mail', 'Staff', 'At User Senior', 'At User Adult',
       'Visitor', 'Retired Staff', 'At User Welcome', 'At User Juvenile',
       'Business', 'At User Teen'], dtype=object)

In [14]:
# 1. Kinder unter 10 Jahren: 34642
row_filter = df['Age Range'] == "0 to 9 years"
df.loc[row_filter].count()

Patron Type Code                34642
Patron Type Definition          34642
Total Checkouts                 34642
Total Renewals                  34642
Age Range                       34642
Home Library Code               34642
Home Library Definition         34642
Circulation Active Month        22000
Circulation Active Year         22000
Notice Preference Code          34642
Notice Preference Definition    34642
Provided Email Address          34642
Year Patron Registered          34642
Within San Francisco County     34642
dtype: int64

In [15]:
# 2. Personen mit über 20000 Ausleihen: 9
df.loc[df['Total Checkouts']>20000].count()

Patron Type Code                9
Patron Type Definition          9
Total Checkouts                 9
Total Renewals                  9
Age Range                       9
Home Library Code               9
Home Library Definition         9
Circulation Active Month        9
Circulation Active Year         9
Notice Preference Code          9
Notice Preference Definition    9
Provided Email Address          9
Year Patron Registered          9
Within San Francisco County     9
dtype: int64

In [16]:
df['Home Library Code'].unique()

array(['r3', 'x', 'm4', 'b2', 's7', 'm8', 'p3', 'p7', 'g6', 'm2', 'e7',
       'b4', 'e9', 'p1', 'c2', 'g4', 'w2', 'n6', 'i5', 'p9', 'm6', 'a5',
       'o7', 'o2', 'n4', 'v3', 'w4', 'yb', 'ylw', 'xffl', 'yjj', 'p5',
       nan, 'w4aaa', 'p3aaa', 'g4aaa', 's7aaa', 'n6aaa', 'yb2', 'none',
       's7j', 'p5aaa', 'o7aaa', 'z2aaa', 'xtnmx', 'xfsaa', 'r3j', 'v3ala',
       'e9aaa', 'yb9', 'v3awk', 'r3aaa', 'p1aaa', 'p7aaa', 'm8aaa',
       'w2aaa', 'yb8', 'o7zaa', 'ylwaa', 'yb4', 'b4aaa', 'o2aaa', 'r3jaa',
       'm4aaa', 'o7zja', 'xfs', 'p5taa', 'ybj'], dtype=object)

In [17]:
# 3. Wieviel Personen stammen aus Supervisor District 1, 2 und 3?  91413
df['North_San_Fran'] = df['Home Library Code'].str.contains("1|2|3")
df.loc[df['North_San_Fran']==True].count()

Patron Type Code                91413
Patron Type Definition          91413
Total Checkouts                 91413
Total Renewals                  91413
Age Range                       91270
Home Library Code               91413
Home Library Definition         91413
Circulation Active Month        87285
Circulation Active Year         87285
Notice Preference Code          91413
Notice Preference Definition    91413
Provided Email Address          91413
Year Patron Registered          91413
Within San Francisco County     91413
North_San_Fran                  91413
dtype: int64

In [18]:
# 4. Wieviel Prozent haben eine Membership Duration von Null Monaten?
# Siehe im Jupyter Notebook 2_5

# nullis = len(df.loc[df['Membership Duration'] == 0.0])
# alle = len(df)
# prozent = nullis * 100 / alle
# print ('Membership Duration von 0 Monaten:',prozent, 'Prozent')

# Antwort: 9,286... %

#### Beispiele aus dem Skript

In [19]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.loc[df['Total Checkouts']>10000]

# alternativ:
# row_filter = df['Total Checkouts'] > 10000
# df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
40624,0,Adult,11421,64,60 to 64 years,n6,North Beach,January,2023.0,z,Email,True,2003,True
40679,0,Adult,34834,622,55 to 59 years,o7,Ortega,January,2023.0,z,Email,True,2003,True
40711,3,Senior,10712,893,65 to 74 years,c2,Chinatown,January,2023.0,z,Email,True,2003,True
40917,0,Adult,11647,1135,60 to 64 years,c2,Chinatown,January,2023.0,z,Email,True,2003,True
41491,3,Senior,18026,1361,75 years and over,x,Main,January,2023.0,z,Email,True,2003,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368403,0,Adult,14103,1373,45 to 54 years,c2,Chinatown,October,2020.0,p,Phone,False,2003,True
372985,3,Senior,10135,84,75 years and over,x,Main,September,2020.0,p,Phone,False,2010,True
381371,0,Adult,10698,4343,35 to 44 years,p3,Parkside,April,2020.0,z,Email,True,2003,True
395055,0,Adult,10243,981,55 to 59 years,c2,Chinatown,February,2020.0,p,Phone,False,2003,True
416854,3,Senior,20411,2606,65 to 74 years,x,Main,August,2019.0,p,Phone,False,2003,True

In [20]:
# hier werden alle Senioren mit Emailbenachrichtigung ausgewählt:
row_filter = (df['Patron Type Definition'] == 'Senior') & (df['Notice Preference Definition'] == 'Email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
37,3,Senior,0,0,65 to 74 years,x,Main,NaN,NaN,z,Email,True,2019,False
44,3,Senior,0,0,65 to 74 years,p3,Parkside,NaN,NaN,z,Email,True,2019,True
99,3,Senior,0,0,65 to 74 years,i5,Ingleside,NaN,NaN,z,Email,True,2019,True
110,3,Senior,0,0,65 to 74 years,x,Main,NaN,NaN,z,Email,True,2022,False
140,3,Senior,0,0,75 years and over,x,Main,NaN,NaN,z,Email,True,2019,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437097,3,Senior,9,0,65 to 74 years,p9,Presidio,March,2005.0,z,Email,True,2003,True
437103,3,Senior,2,0,65 to 74 years,m6,Mission,November,2004.0,z,Email,True,2004,False
437109,3,Senior,3,0,65 to 74 years,a5,Anza,August,2004.0,z,Email,True,2003,True
437113,3,Senior,4,0,65 to 74 years,m6,Mission,August,2004.0,z,Email,True,2004,True
437114,3,Senior,3,9,65 to 74 years,p9,Presidio,August,2004.0,z,Email,True,2004,True

In [21]:
# Series.between(left,right)
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
#ist das gleiche wie:
filter2 = df['Total Checkouts'].between(20,80)
all(filter1==filter2)

True