## 2.7 und 2.8 Fehlende Werte

### Aufgabe 2.8: wieviele Spalten mit fehlenden Werten, erstelle Dataframe ohne Zeilen mit fehlenden Werten, wieviele Zeilen wurden entfernt?

In [62]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
anzahl1 = df.count()
anzahl1

Patron Type Code                437115
Patron Type Definition          437115
Total Checkouts                 437115
Total Renewals                  437115
Age Range                       436188
Home Library Code               437113
Home Library Definition         437115
Circulation Active Month        396523
Circulation Active Year         396523
Notice Preference Code          437115
Notice Preference Definition    437115
Provided Email Address          437115
Year Patron Registered          437115
Within San Francisco County     437115
dtype: int64

In [63]:
df.isna().sum()
# 4 Spalten mit fehlenden Werten

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         927
Home Library Code                   2
Home Library Definition             0
Circulation Active Month        40592
Circulation Active Year         40592
Notice Preference Code              0
Notice Preference Definition        0
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County         0
dtype: int64

In [64]:
# 41343 Zeile wurden entfernt (???)
df = df.dropna()
df.to_csv("../data/Library_Usage_Clean.csv")
anzahl2 = df.count()
anzahl2

Patron Type Code                395772
Patron Type Definition          395772
Total Checkouts                 395772
Total Renewals                  395772
Age Range                       395772
Home Library Code               395772
Home Library Definition         395772
Circulation Active Month        395772
Circulation Active Year         395772
Notice Preference Code          395772
Notice Preference Definition    395772
Provided Email Address          395772
Year Patron Registered          395772
Within San Francisco County     395772
dtype: int64

In [65]:
anzahl3 = anzahl1 - anzahl2
anzahl3

Patron Type Code                41343
Patron Type Definition          41343
Total Checkouts                 41343
Total Renewals                  41343
Age Range                       40416
Home Library Code               41341
Home Library Definition         41343
Circulation Active Month          751
Circulation Active Year           751
Notice Preference Code          41343
Notice Preference Definition    41343
Provided Email Address          41343
Year Patron Registered          41343
Within San Francisco County     41343
dtype: int64

### Beispiele aus dem Skript

In [66]:
# fehlende Werte bereinigen beim Einlesen
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv",na_values="None")
df['Circulation Active Year']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
437110    2004.0
437111    2004.0
437112    2004.0
437113    2004.0
437114    2004.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [67]:
# explizite Umwandlung nach dem Einlesen
df = pd.read_csv("../data/Library_Usage.csv")
df['Circulaton Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
437110    2004.0
437111    2004.0
437112    2004.0
437113    2004.0
437114    2004.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [68]:
df[df['Age Range'].isna()]

#Anzahl fehlender Werte in jeder Spalte ausgeben
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         927
Home Library Code                   2
Home Library Definition             0
Circulation Active Month        40592
Circulation Active Year         40592
Notice Preference Code              0
Notice Preference Definition        0
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County         0
Circulaton Active Year          40592
dtype: int64

In [ ]:
# Entfernen
# drops all rows containing at least one missing value
df.dropna()
# drops all missing values in this series
df['Age Range'].dropna()

In [ ]:
# Ersetzen
df['Age Range'].fillna("keine Angabe")