# Modul 2, Teil 1

In [25]:
import pandas as pd
import urllib.request
import urllib.parse
import json

In [26]:
# Daten einlesen und in der Datei botanik.json ablegen
url = "https://www.bibsonomy.org/json/search/botanik?items=1000&duplicates=merged"
botanik = "botanik.json"
urllib.request.urlretrieve(url,botanik)

('botanik.json', <http.client.HTTPMessage at 0x7fb6c71c7670>)

In [37]:
with open('botanik.json','r') as botanik_infile:
    data = botanik_infile.readlines()

In [38]:
type(data)

list

In [39]:
botanik_df = pd.DataFrame([data])

In [41]:
botanik_df.T

                                            0
0                                          \n
1                                       {  \n
2                               "types" : {\n
3                            "Bookmark" : {\n
4               "pluralLabel" : "Bookmarks"\n
...                                       ...
25349                                      \n
25350                                     }\n
25351                                  \t  \n
25352                                     ]\n
25353                                     }\n

[25354 rows x 1 columns]