# BesucherInnen im Handschiftenlesesaal der UB Tübingen 2022

In [27]:
import pandas as pd
import datetime
#from datetime import date 
#from datetime import time
df = pd.read_excel("../data/2022-HssLSBenutzung.xlsx")

In [28]:
df

,Kalenderwoche,Datum,Wochentag,Anfang,Ende,Std.,Min.,UB/Archiv,Tage,Besuchsstunden,Anzahl Besucher,Zeit/Besuch,Ende Gelände
0,1,2022-01-03,Montag,10:00:00,11:55:00,1,55,UB/Archiv,1.0,v,NaN,NaN,NaN
1,1,2022-01-04,Dienstag,10:20:00,11:55:00,1,35,Archiv,1.0,v,NaN,NaN,NaN
2,1,2022-01-04,Dienstag,10:25:00,11:55:00,1,30,UB/Archiv,NaN,v,NaN,NaN,NaN
3,1,2022-01-04,Dienstag,13:34:00,15:16:00,1,42,Archiv,NaN,n,NaN,NaN,NaN
4,1,2022-01-05,Mittwoch,10:05:00,11:55:00,1,50,UB,1.0,v,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,51,2022-12-22,Donnerstag,11:30:00,12:00:00,0,30,Archiv,NaN,v,NaN,NaN,NaN
1192,51,2022-12-22,Donnerstag,13:00:00,15:55:00,2,55,Archiv,NaN,n,NaN,NaN,NaN
1193,51,2022-12-22,Donnerstag,15:30:00,15:55:00,0,25,UB,NaN,n,NaN,NaN,NaN
1194,51,2022-12-22,Donnerstag,15:55:00,15:56:00,0,1,UB,NaN,n,NaN,NaN,NaN
1195,51,2022-12-23,Freitag,10:30:00,11:20:00,0,50,Archiv,1.0,v,NaN,NaN,NaN

In [29]:
# Spalten Semesterferien und Schulferien ergänzen

In [30]:
# Brückentage kennzeichnen

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Kalenderwoche    1196 non-null   int64
 1   Datum            1196 non-null   datetime64[ns]
 2   Wochentag        1196 non-null   object
 3   Anfang           1196 non-null   object
 4   Ende             1196 non-null   object
 5   Std.             1196 non-null   int64
 6   Min.             1196 non-null   int64
 7   UB/Archiv        1196 non-null   object
 8   Tage             238 non-null    float64
 9   Besuchsstunden   1196 non-null   object
 10  Anzahl Besucher  0 non-null      float64
 11  Zeit/Besuch      0 non-null      float64
 12  Ende Gelände     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 121.6+ KB

In [32]:
# Anfang und Ende in datetime umwandeln (eventuell verbinden mit Datum)

In [6]:
df['Wochentag'].mode()

0    Donnerstag
Name: Wochentag, dtype: object

In [7]:
df['Kalenderwoche'].mode()

0    29
Name: Kalenderwoche, dtype: int64

In [17]:
df['Datum'].mode()

0   2022-07-21
Name: Datum, dtype: datetime64[ns]