### 2.1 Grundbegriffe
1. Anzahl der Merkmale: 14 oder 11
2. Stichprobengröße: 437115
3. Merkmalsträger: jede Zeile ist ein KundIn/BibliotheksbenutzerIn
4. Erfassungszeitraum: Erfassungszeitraum: 2012-12-02 bis 2023-02-06
5. Die Grundgesamtheit besteht aus aktiven BibliotheksnutzerInnen mit gültigem Ausweis, die in den letzten 3 Jahen Medien ausgeliehen hatten. Es handelt sich nicht um eine Vollerhebung aller BenutzerInnen.
6. und 
7.
###### Patron Type Code = diskret = ordinal
###### Patron Type Definition = stetig = nominal
###### Total Checkouts =  diskret = metrisch
###### Total Renewals = diskret = metrisch
###### Age Range =  quasi-stetig bzw. stetig gruppiert = ordinal 
###### Home Library Code = stetig = nominal
###### Home Library Definition = stetig = nominal
###### Circulation Active Month = diskret = nominal
###### Circulation Active Year = diskret = metrisch
###### Notice Preference Code = stetig = nominal
###### Notice Preference Definition = stetig = nominal
###### Provided Email Address = diskret = nominal
###### Year Patron Registered = diskret = intervall
###### Within San Francisco County = diskret = nominal
8. Ja
9. Längsschnittdaten (bei einer Panelerhebung müsste über den gesamten Zeitraum die gleiche Stichprobe/die gleichen Personen untersucht werden).

In [24]:
import pandas as pd

In [25]:
# Datensatz einlesen
s_df = pd.read_csv('../data/Library_Usage.csv')

In [26]:
# 1. Anzahl der Merkmale
s_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437115 entries, 0 to 437114
Data columns (total 14 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              437115 non-null  int64
 1   Patron Type Definition        437115 non-null  object
 2   Total Checkouts               437115 non-null  int64
 3   Total Renewals                437115 non-null  int64
 4   Age Range                     436188 non-null  object
 5   Home Library Code             437113 non-null  object
 6   Home Library Definition       437115 non-null  object
 7   Circulation Active Month      396523 non-null  object
 8   Circulation Active Year       396523 non-null  float64
 9   Notice Preference Code        437115 non-null  object
 10  Notice Preference Definition  437115 non-null  object
 11  Provided Email Address        437115 non-null  bool
 12  Year Patron Registered        437115 non-null  int64
 13  Within San Francisco County   437115 non-null  bool
dtypes: bool(2), float64(1), int64(4), object(7)
memory usage: 40.9+ MB

In [27]:
# 2. Stichprobengröße des Datensatzes
print ("Stichprobengröße:",len(s_df))

Stichprobengröße: 437115

In [29]:
s_df.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Year,Year Patron Registered
count,437115.000000,437115.000000,437115.000000,396523.000000,437115.000000
mean,1.085808,161.085055,75.726557,2021.678579,2015.128570
std,3.418133,533.528174,296.740804,1.471304,5.993034
min,0.000000,0.000000,0.000000,2004.000000,2003.000000
25%,0.000000,0.000000,0.000000,2021.000000,2011.000000
50%,0.000000,7.000000,3.000000,2022.000000,2017.000000
75%,1.000000,81.000000,33.000000,2023.000000,2020.000000
max,104.000000,45380.000000,11321.000000,2023.000000,2022.000000