## 2.2 Pandas introduction

### Series und Dataframes

In [2]:
import pandas as pd
x = pd.Series([34,12,23,45])
print(x)

0    34
1    12
2    23
3    45
dtype: int64

In [3]:
x.dtype

dtype('int64')

In [4]:
# dictionary: keys (Spaltenname) und values (Python-Listen)
data = {'month':['Jan','Feb','Mar'],'temp':[-5,2,3],'below_zero':[True,False,False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

### Aufgabe 2.2: Skalenniveau und Datentypen

Variablenname: Skalenniveau, stetig/diskret, Datentyp

month:   nominalskaliert, diskret, object

temp:    intervallskaliert, diskret, integer

below_zero: nominalskaliert, diskret, boolean

In [5]:
df['below_zero'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: below_zero
Non-Null Count  Dtype
--------------  -----
3 non-null      bool
dtypes: bool(1)
memory usage: 131.0 bytes

In [6]:
# Dem Dataframe eine neue Zeile und eine neue Spalte hinzuf√ºgen

df.loc[3] = ['Apr',5,False]

In [7]:
df["year"] = ['2020','2020','2020','2020']

In [8]:
df

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020