## Pandas example

In [1]:
# pandas importieren
import pandas as pd

In [6]:
# create dataframe with two columns and three rows
df = pd.DataFrame({'month':[1,2,3,4], 'temperature':[-12,3,9,14]})

In [7]:
# print out some descriptive statistics
df.describe()

          month  temperature
count  4.000000     4.000000
mean   2.500000     3.500000
std    1.290994    11.269428
min    1.000000   -12.000000
25%    1.750000    -0.750000
50%    2.500000     6.000000
75%    3.250000    10.250000
max    4.000000    14.000000

##### count = Anzahl der Zeilen, die Werte enthalten (=nicht NaN)
##### mean = Mittelwert, Durchschnitt
##### std = Standardabweichung = durchschnittliche Entfernung aller Werte vom Mittelwert
##### min = kleinster vorhandener Wert
##### max = größter vorhandener Wert
##### 25% = lower percentile = 25% der Werte sind kleiner/gleich als die genannte Zahl
##### 50% = middle percentile = Median = 50% der Werte sind kleiner/gleich als die genannte Zahl
##### 75% = upper percentile = 75% der Werte sind kleiner/gleich als die genannte Zahl