## INKA

In [5]:
import pandas as pd

inka_df = pd.read_csv('../data/inkwwwneu.txt',sep="&01",header=None,encoding='cp1250',engine='python')

In [6]:
inka_df

        0                                                  1
0     NaN   146 &02 PAD &03t Sermones quattuor novissimor...
1     NaN   314 &02 PAD &03t Postilla super epistolas et ...
2     NaN   365 &02 PAD &03t Sermones dominicales super E...
3     NaN   1 &02 MUF &03t Sermones Sermones de tempore t...
4     NaN   1747 &02 WUE &03s <i>Nummer unbelegt</i> &88 ...
...    ..                                                ...
68409 NaN   Z-15 &02 LUB &03t Quaestiones metaphysicae. &...
68410 NaN   Z. 2 &02 ROS &03t Quaestiones metaphysicae. M...
68411 NaN   F-270 &02 MUN &03t [Mandat zum Kauf der von E...
68412 NaN   F-271 &02 MUN &03t [Mandat zur Abhaltung von ...
68413 NaN   F-272 &02 MUN &03t [Mandat zur Erhebung des 2...

[68414 rows x 2 columns]